{% extends "base.html" %}
  
{% block content %}

{% block nav-about %}<strong class="nav-active">About</strong>{% endblock %}

<h1> Welcome To Gravity Spy Tools! </h1>

This site is a sister site to <a href="https://gravityspy.org/">Gravity Spy</a>  which is a Zooniverse project designed to combine the power of machine learning, citizen science to tackle big data problem such as the large ever-changing excess noise in LIGO gravitational wave data.

<br>
<br>

Here we will show a brief demonstration of how to utilize a similarity search with the Gravity Spy frame work. We hope that those who test this website will find it, first of all, useful, and secondly will contribute any and all suggestions for more tools they would like to see within this project!

<br>
<br>

Please place this queries here: <a href="https://github.com/Gravity-Spy/gravityspytools/issues">Gravity Spy Tools Improvements</a>

<h1> How-To </h1>

{% endblock %}
