{% extends "base.html" %}

{% block content %}

{% block nav-search_from_gps %}<strong class="nav-active">Enter a GPS Time of Any Excess Noise Feature</strong>{% endblock %}

<form action="/search_from_gps/similarity_search_with_GPS/" method="get" style="display: inline;">
    <br>
    {% for field in form.visible_fields %}
        <div>
        {{ field.label }} : {{ field }}
        </div>
        <br>
    {% endfor %}
    <br>

    <input type="submit" value="Search for GPS"/>
</form>

{% endblock %}
