html, body {
  background: #404040;
  color: white;
  font: 400 15px/1.5 "Open Sans", "Gill Sans", Arial, sans-serif;
  margin: 0;
}

header {
  background-color: black;
  padding: 1em;
}

header > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

header > nav > li {
  display: inline-block;
}

header > nav > li > a {
  color: white;
  text-decoration: none;
}

header > nav > li > a.active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

header > nav > li > a:focus, header > nav > li > a:hover {
  text-decoration: underline;
}

header > nav > li > a:active, header > nav > li > a:visited {
  color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

@media screen and (max-width: 1200px) {
  header > nav {
    flex-direction: column;
  }
}