{% extends "base.html" %}
  
{% block content %}

{% block nav-collectioninfo %}<a class="active" href="/collection-info/">Display Your Collection With Metadata Info</a>{% endblock %}

<form action="/collectioninfo/collectioninfo/" method="get" style="display: inline;">
    <br>
    {% for field in form.visible_fields %}
        <div>
        {{ field.label }} : {{ field }}
        </div>
        <br>
    {% endfor %}
    <br>

    <input type="submit" value="Get Collection Info" />
</form>

{% endblock %}
