<!DOCTYPE html>
<html class="on-project-page"/>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" media="all" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat&amp;text=ZOONIVERSE">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:300,400" />
  <link rel="stylesheet" href="https://www.zooniverse.org/main-e6f6a309e2d6e21f41e07bee47f15162.css" />

  <!-- Facebook OG tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Gravity Spy Similarity Search" />
  <meta property="og:description" content="Gravity Spy is a project of Zooniverse which is the world’s largest and most popular platform for people-powered research." />
  <meta property="og:image" content="https://zooniverse-static.s3.amazonaws.com/assets/opengraph.jpg" />
  <style type="text/css" data-styled-components="" data-styled-components-is-local="true">
  {% block title %}<title>Gravity Spy Similarity Search</title>{% endblock %}
  </style>
</head>

<form action="/collectioninfo/collectioninfo/" method="post" style="display: inline;">
    {% csrf_token %}

    <br>
    {% for field in form.visible_fields %}
        <div>
        {{ field.label }} : {{ field }}
        </div>
        <br>
    {% endfor %}
    <br>

    <input type="submit" value="Get Collection Info" />
</form>
