{% extends "base.html" %}

{% block content %}

{% block nav-collection-to-subjectset %}<strong class="nav-active">UNDER CONSTRUCTION: DOES NOT WORK</strong>{% endblock %}

<form action="/collection_to_subjectset/make_subjectset_from_collection/" method="post" style="display: inline;">
    {% csrf_token %}

    <br>
    {% for field in form.visible_fields %}
        <div>
        {{ field.label }} : {{ field }}
        </div>
        <br>
    {% endfor %}
    <br>

    <input type="submit" value="Create Subject Set From Collection" />
</form>

{% endblock %}
