{% extends "base.html" %}

{% block content %}

<h1>Collection to Subject Set</h1>
<strong>UNDER CONSTRUCTION: DOES NOT WORK</strong>
<form action="/collection-to-subject-set/make-subjectset-from-collection/" method="post" style="display: inline;">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% csrf_token %}

    <fieldset>
    {% for field in form.visible_fields %}
        <label>
            {{ field.label }} : {{ field }}
        </label>
    {% endfor %}
    <fieldset>

    <button type="submit">Create Subject Set From Collection</button>
</form>

{% endblock %}
